<div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-12">

    <!-- 01. Identidad -->
    <fieldset class="space-y-6">
        <legend class="text-[var(--tertiary)]">
            01. Identidad
        </legend>

        <div class="input-group">
            <label>Nombres</label>
            <input type="text" name="nombres"
                   value="<%= @paciente&.nombres %>"
                   required
                   class="input-control">
        </div>

        <div class="input-group">
            <label>Apellidos</label>
            <input type="text" name="apellidos"
                   value="<%= @paciente&.apellidos %>"
                   required
                   class="input-control">
        </div>

        <div class="input-group">
            <label>F. Nacimiento</label>
            <input type="date" name="fecha_nacimiento"
                   value="<%= @paciente&.fecha_nacimiento %>"
                   required
                   class="input-control">
        </div>
    </fieldset>

    <!-- 02. Contacto -->
    <fieldset class="space-y-6">
        <legend class="text-[var(--tertiary)]">
            02. Contacto
        </legend>

        <div class="input-group">
            <label>Email</label>
            <input type="email" name="email"
                   value="<%= @paciente&.email %>"
                   required
                   class="input-control">
        </div>

        <div class="input-group">
            <label>Celular</label>
            <input type="text" name="celular"
                   value="<%= @paciente&.celular %>"
                   class="input-control">
        </div>
    </fieldset>

</div>