<div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-8">
    <div class="space-y-6">
        <h2 class="text-[11px] font-black uppercase tracking-[0.3em] text-blue-600 mb-4">01. Identidad</h2>
        <div>
            <label class="block text-[10px] font-black uppercase tracking-widest text-slate-400 mb-1">Nombres</label>
            <input type="text" name="nombres" value="<%= @paciente&.nombres %>" required class="w-full border-b-2 border-slate-100 focus:border-blue-500 outline-none py-2 text-sm font-semibold transition-all">
        </div>
        <div>
            <label class="block text-[10px] font-black uppercase tracking-widest text-slate-400 mb-1">Apellidos</label>
            <input type="text" name="apellidos" value="<%= @paciente&.apellidos %>" required class="w-full border-b-2 border-slate-100 focus:border-blue-500 outline-none py-2 text-sm font-semibold transition-all">
        </div>
        <div>
            <label class="block text-[10px] font-black uppercase tracking-widest text-slate-400 mb-1">F. Nacimiento</label>
            <input type="date" name="fecha_nacimiento" value="<%= @paciente&.fecha_nacimiento %>" required class="w-full border-b-2 border-slate-100 focus:border-blue-500 outline-none py-2 text-sm font-semibold transition-all">
        </div>
    </div>

    <div class="space-y-6">
        <h2 class="text-[11px] font-black uppercase tracking-[0.3em] text-blue-600 mb-4">02. Contacto</h2>
        <div>
            <label class="block text-[10px] font-black uppercase tracking-widest text-slate-400 mb-1">Email</label>
            <input type="email" name="email" value="<%= @paciente&.email %>" required class="w-full border-b-2 border-slate-100 focus:border-blue-500 outline-none py-2 text-sm font-semibold transition-all">
        </div>
        <div>
            <label class="block text-[10px] font-black uppercase tracking-widest text-slate-400 mb-1">Celular</label>
            <input type="text" name="celular" value="<%= @paciente&.celular %>" class="w-full border-b-2 border-slate-100 focus:border-blue-500 outline-none py-2 text-sm font-semibold transition-all">
        </div>
    </div>
</div>