<div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-12">

    <fieldset class="space-y-6">
        <legend class="text-[var(--tertiary)]">01. Identidad</legend>

        <div class="input-group">
            <label>Nombres</label>
            <input type="text" name="paciente[nombres]"
                   value="<%= @paciente&.nombres %>" required class="input-control">
        </div>

        <div class="input-group">
            <label>Apellidos</label>
            <input type="text" name="paciente[apellidos]"
                   value="<%= @paciente&.apellidos %>" required class="input-control">
        </div>

        <div class="input-group">
            <label>F. Nacimiento</label>
            <input type="date" name="paciente[fecha_nacimiento]"
                   value="<%= @paciente&.fecha_nacimiento %>" required class="input-control">
        </div>

        <div class="input-group">
            <label>Edad</label>
            <input type="number" name="paciente[edad]"
                   value="<%= @paciente&.edad %>" class="input-control">
        </div>

        <div class="input-group">
            <label>Estado Civil</label>
            <input type="text" name="paciente[estado_civil]"
                   value="<%= @paciente&.estado_civil %>" class="input-control">
        </div>
    </fieldset>

    <fieldset class="space-y-6">
        <legend class="text-[var(--tertiary)]">02. Profesional</legend>

        <div class="input-group">
            <label>Ocupación</label>
            <input type="text" name="paciente[ocupacion]"
                   value="<%= @paciente&.ocupacion %>" class="input-control">
        </div>

        <div class="input-group">
            <label>Horario Laboral</label>
            <input type="text" name="paciente[horario_laboral]"
                   value="<%= @paciente&.horario_laboral %>" class="input-control">
        </div>
    </fieldset>

    <fieldset class="space-y-6">
        <legend class="text-[var(--tertiary)]">03. Ubicación</legend>

        <div class="input-group">
            <label>Dirección</label>
            <textarea name="paciente[direccion]"
                      class="input-control"><%= @paciente&.direccion %></textarea>
        </div>

        <div class="input-group">
            <label>Ciudad</label>
            <input type="text" name="paciente[ciudad]"
                   value="<%= @paciente&.ciudad %>" class="input-control">
        </div>

        <div class="input-group">
            <label>Barrio</label>
            <input type="text" name="paciente[barrio]"
                   value="<%= @paciente&.barrio %>" class="input-control">
        </div>
    </fieldset>

    <fieldset class="space-y-6">
        <legend class="text-[var(--tertiary)]">04. Contacto</legend>

        <div class="input-group">
            <label>Email</label>
            <input type="email" name="paciente[email]"
                   value="<%= @paciente&.email %>" class="input-control">
        </div>

        <div class="input-group">
            <label>Celular</label>
            <input type="text" name="paciente[celular]"
                   value="<%= @paciente&.celular %>" class="input-control">
        </div>
    </fieldset>

</div>