<div class="mx-auto max-w-6xl">

    <h3 class="mb-4">Editar Paciente: <%= @paciente.nombres %> <%= @paciente.apellidos %></h3>

    <div class="ui-card">
        <form action="<%= url("/pacientes/#{@paciente.id_paciente}") %>" 
            method="POST" class="space-y-10">
            
            <input type="hidden" name="_method" value="put">
          
            <%= erb :"pacientes/_form" %>
      
            <div class="form-footer">
                <a href="<%= url('/pacientes') %>" class="btn btn-ghost">
                    Cancelar
                </a>
                <button type="submit" class="btn btn-primary">
                    Guardar Cambios
                </button>
            </div>
      
        </form>
    </div>

</div>